:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --base-color: #;
    --sec--color: #;
    --third-color: #;
    font-size: 16px;
    font-family: "PT Sans Narrow", sans-serif;;

}

/* 
 Tipografía
.pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-narrow-bold {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
   */

body{
    background-color: #ebf1c0bc;
}

header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

nav{
    width: 100%;
    padding: 1rem 0;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline;
    font-size: 1.25rem;
    padding: 1rem 2rem;
}

main{
    max-width: 1080px;
    margin: 0 auto;
}

.gallery, .slider, .slide{
    max-width: 500px;
}

.slider{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.slide{
    border-radius: 3rem;
}

